<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <% for line in @article.text.split("\n") %>
      <% for sec in 0...(line.size - line.lstrip().size) %>
        &nbsp;
      <% end %>
    <%= line.lstrip  %><br>
  <% end %>
</p>

<%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>
